<%- include('partials/header.ejs') %>

<div class="container">
    <h1>Welcome <%= user.firstname %></h1>
    <a href="/logout" class="btn btn-outline-orange mt-5">Logout</a>
</div>

<%- include('partials/footer.ejs') %>