<%- include('../partials/header.ejs') %>

<div class="container mt-5">
    <h1>400 Not Found</h1>
    <p class="mt-5">We're sorry, this resource is not found</p>
    <a href="/" class="btn btn-orange mt-5">Back to home</a>
</div>

<%- include('../partials/footer.ejs') %>